{% extends 'res_app/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="col-lg-4">
    {% if message %}
        {{ message }}
    {% endif %}
    {% crispy restaurant_form %}
        {% if restaurant_form.instance.image %}
        <div>
        <img src="{{ restaurant_form.instance.image.url }}">
        </div>
    {% endif %}
    {% if restaurant_form.instance.id %}
        <a href="{% url 'res_app:restaurant_delete' restaurant_form.instance.id %}">
        Delete
        </a>
    {% endif %}
    </div>
{% endblock %}