{% extends 'res_app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Authorization page
{% endblock %}
{% block body %}
    <div class="col-lg-4 offset-4">
    {% if form.errors %}
        <p>Wrong login or password</p>
    {% endif %}
    <form style="font-family: Chilanka; position: center; left: 80px; font-size: 30px" class="col-lg-8" method="post"
          action="{% url 'users_app:login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <p><button id="sub_btn" name="submit" style="color: deeppink; font-family: Chilanka; position: absolute; left: 140px">Log In</button></p>
        <input type="hidden" name="text" value="{{ request.GET.next }}">
    </form>
    </div>
{% endblock %}